/* * {
    border: 1px solid black;
} */
/* html {
    background-image: url("images/empty-city.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */

p {
    color: black;
}


body {
    /* background-color: orange; */
    margin: 0px auto;
    width: 960px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:
        linear-gradient(orange, transparent),
        linear-gradient(to top left, red, transparent),
        linear-gradient(to top right, violet, transparent);
    background-blend-mode: screen;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    margin-right: 100px;
    float: left;
}

header > h1 {
    margin: 10px;
    text-align: center;
}

#firstH3 {
    margin-top: 375px;
}

header > nav {
    float: right;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

header > nav > ul > li {
    display: inline-block;
    width: 100px;
    border-radius: 25px;;
    background-color: rgb(103, 151, 170);
    border: 1px solid black;
    margin: 5px;
    text-align: center;


}

header > nav > ul > li > a {
    color: inherit;
}


